<!doctype html>
<html ng-app="Apps" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css.map">
    <script type="application/javascript" src="js/angular.js"></script>
    <title>Home</title>
</head>
<body>
<div class="container" ng-controller="myCtrl">
    <div class="row">
        <h1 class="text-center">This is Title</h1>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                <form name="myName" class="form-horizontal" novalidate>
                    <div class="row">
                        <div class="form-group has-feedback"
                             ng-class="{'has-error':myName.name.$invalid && myName.name.$dirty,'has-success':myName.name.$valid}">
                            <label for="name" class="col-xs-2 control-label">姓名:</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="name" name="name" ng-model="person.name"
                                        required/>
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show="myName.name.$valid"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      ng-show="myName.name.$invalid && myName.name.$dirty"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error':myName.password.$invalid && myName.password.$dirty,'has-success':myName.password.$valid}">
                            <label for="password" class="col-xs-2 control-label">密码:</label>
                            <div class="col-xs-9">
                                <input type="text" id="password" name="password" class="form-control"
                                       ng-model="person.password"
                                       required>
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show="myName.password.$valid"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      ng-show="myName.password.$invalid && myName.password.$dirty"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-2">
                                <input type="checkbox" id="rememberMe" ng-model="person.remember">记住我
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <div class="btn-group">
                                    <button ng-disabled="myName.name.$invalid" type="button"
                                            class="btn btn-info"
                                            ng-click="save()">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        添加
                                    </button>
                                    <button type="button" class="btn btn-default" ng-click="reset()">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                        重置
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="remove()">
                                        <span class="glyphicon glyphicon-minus"></span>
                                        删除
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                表单
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-hover" ng-if="persons.length > 0">
                    <thead>
                    <tr>
                        <td class="text-center">index</td>
                        <td>name</td>
                        <td>password</td>
                        <td>isRemember</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in persons track by $index">
                        <td class="text-center" ng-class="{danger: $index%3==0,info: $index%3==1,warning:$index%3==2}"
                            ng-bind="$index + 1"></td>
                        <td ng-bind="p.name"></td>
                        <td ng-bind="p.password"></td>
                        <td ng-bind="p.remember | isRemember" ng-class="{success:p.remember}"></td>
                    </tr>
                    </tbody>
                </table>
                <h1 ng-if="persons.length == 0" class="text-center">暂无数据</h1>
            </div>
        </div>
    </div>
</div>
<script>
    var myApp = angular.module("Apps", []);
    myApp.controller("myCtrl", function ($scope) {
        $scope.persons = [];
        $scope.master = {
            name: "Maxwell",
            password: "Maxwell",
            remember: false
        };

        $scope.reset = function () {
            $scope.person = angular.copy($scope.master);
            $scope.persons = [];
        };

        $scope.save = function () {
            $scope.persons.push(angular.copy($scope.person));
        };

        $scope.remove = function () {
            $scope.persons.pop();
        };
//        $scope.reset();
    });
    myApp.filter("isRemember", function () {
        return function (input) {
            return input ? '是' : '否';
        }
    });
</script>
</body>
</html>