<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            表单
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-responsive table-hover" ng-if="persons.length > 0">
                <thead>
                <tr>
                    <td class="text-center">index</td>
                    <td>name</td>
                    <td>password</td>
                    <td>isRemember</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in persons track by $index">
                    <td class="text-center" ng-class="{danger: $index%3==0,info: $index%3==1,warning:$index%3==2}"
                        ng-bind="$index + 1"></td>
                    <td ng-bind="p.name"></td>
                    <td ng-bind="p.password"></td>
                    <td ng-bind="p.remember | isRemember" ng-class="{success:p.remember}"></td>
                </tr>
                </tbody>
            </table>
            <h1 ng-if="persons.length == 0" class="text-center">暂无数据</h1>
        </div>
    </div>
</div>